<!-- Small Banner Begin -->
<div class="jasmine-detail-bg list-view-column2 event">
  <div class="container">
    <div class="row">
      <div class="jasmine-banner-widgets ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="jasmine text-center">
            <h2 class="spano">Contact Us</h2>
            <p class="spa">We care about you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Contact Us Page Begin -->
<div class="jasmine jasmine-100 jasmine-contact" style="color: #666666;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jasmine-section-title">
          <h2 class="spa">Contact Us</h2>
          <p class="spa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="jasmine-contact-add">
          <div class="icon-box">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <p>Diepkloof 319-Iq, Soweto, 1862</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="jasmine-contact-add">
          <div class="icon-box">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <p><a href="http://www.mlab.co.za">support@mlab.com</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="jasmine-contact-add">
          <div class="icon-box">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <p><a href="Tel: +27 012 844 0240">(+27) 012 844 0240</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Conatct Us Form Begin -->

<div class="jasmine jasmine-100 jasmine-c-form">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="jasmine-c-form">
          <div class="form-area">
            <form action="#">
              <h3>Contact Form</h3>
              <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                  <input type="text" class="form-control" id="formemail" name="email" placeholder="Email" required="">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                  <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required="">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-6 rh-xs-12">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required="">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                  <span class="help-block" id="characterLeft">140 characters left</span>
                </div>
                <div class="jasmine col-xs-2">
                  <a href="javascript:;" class="jasmine-check-btn">Submit Form</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="map" style="position: relative; overflow: hidden;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58924.15840429484!2d27.951365947164238!3d-26.264290626758413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6934768909367b3a!2sCodeTribe%20Soweto!5e0!3m2!1sen!2sza!4v1629033124313!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

