
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/images/SlideImage1.png" alt="0" style="height: 600px;width: 100%">
      <div class="jasmine jasmine-banner-widgets">
        <div class="container">
          <div class="row flex">

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <h1>
                Live the Wonderous
                <span class="spano">Life</span>
              </h1>
              <span class="jasmine-price">From $195 / day</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10">
              <a class="book-now" href="payment/payment.component.html">Book Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="assets/images/SlideImage2.png" alt="1" style="height: 600px;width: 100%">
      <div class="jasmine jasmine-banner-widgets">
        <div class="container">
          <div class="row flex">

            <div class="col-lg-9 col-md-9 ">
              <h1>
                Live the Wonderous
                <span class="spano">Life</span>
              </h1>
              <span class="jasmine-price">From $195 / day</span>
            </div>
            <div class="col-lg-3 col-md-3 ">
              <a class="book-now" href="payment/payment.component.html">Book Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/images/SlideImage3.png" alt="2" style="height: 600px;width: 100%">
      <div class="jasmine jasmine-banner-widgets">
        <div class="container">
          <div class="row flex">

            <div class="col-lg-9 col-md-9 ">
              <h1>
                Live the Wonderous
                <span class="spano">Life</span>
              </h1>
              <span class="jasmine-price">From $195 / day</span>
            </div>
            <div class="col-lg-3 col-md-3 ">
              <a class="book-now" href="payment/payment.component.html">Book Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assets/images/SlideImage1.png" alt="3" style="height: 600px;width: 100%">
      <div class="jasmine jasmine-banner-widgets">
        <div class="container">
          <div class="row flex">

            <div class="col-lg-9 col-md-9 ">
              <h1>
                Live the Wonderous
                <span class="spano">Life</span>
              </h1>
              <span class="jasmine-price">From $195 / day</span>
            </div>
            <div class="col-lg-3 col-md-3 ">
              <a class="book-now" [routerLink]="['/payment']" (click)="loadPayment()">Book Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer Begins-->
<footer class="jasmine">
  <div class="jasmine-100 jasmine-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 jasmine-f-30 jasmine-f-100">
          <div class="jasmine-footer-box">
            <img class="footer-logo" src="assets/images/the-rock.png" alt="footer-logo">
            <p class="spano">You have questions regarding our services? Contact us, we will be happy to help you out!</p>
            <ul class="footer-about">
              <li><a href="support@mlab.com">support@mlab.com</a></li>
              <li><a href="javascript:;">Diepkloof 319-Iq, Soweto, 1862</a></li>
              <li><a href="Tel: +27 012 844 0240">(+27) 012 844 0240</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 jasmine-f-30 jasmine-f-50">
          <div class="jasmine-footer-box">
            <h5 class="spano">Hotel</h5>
            <ul class="footer-menu list">
              <li><a href="javascript:;">Accommodation</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="javascript:;">Services &amp; Amenities</a></li>
              <li><a href="javascript:;">Dining</a></li>
              <li><a href="javascript:;">Spa</a></li>
              <li><a href="javascript:;">Destination</a></li>
              <li><a href="javascript:;">Offer</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 jasmine-fs-30 jasmine-f-50">
          <div class="jasmine-footer-box">
            <h5 class="spano">Inquires</h5>
            <ul class="footer-menu list">
              <li><a href="javascript:;">About  Four Seasons</a></li>
              <li><a href="javascript:;">Press Room</a></li>
              <li><a href="javascript:;">Gift Cards</a></li>
              <li><a href="javascript:;">Residences</a></li>
              <li><a href="javascript:;">Careers</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 jasmine-f-100">
          <div class="jasmine-footer-box">
            <h5 class="spano">Photo Gallery</h5>
            <ul class="footer-menu gallery">
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-1.jpg" alt="footer-gallery-1"></a>
              </li>
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-2.jpg" alt="footer-gallery-2"></a>
              </li>
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-3.jpg" alt="footer-gallery-3"></a>
              </li>
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-4.jpg" alt="footer-gallery-4"></a>
              </li>
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-5.jpg" alt="footer-gallery-5"></a>
              </li>
              <li>
                <a href="single-rooms.html"><img src="assets/images/footer-gallery-6.jpg" alt="footer-gallery-6"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jasmine footer-btm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="pull-left spano">Copyrights © 2021 The Rock's-Hotel</h6>
          <span class="pull-right spano">Powered by <a target="_blank" href="https://mlab.co.za/">mlab.com</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Backe To Top Begin -->
<div id="back_to_top" class="active">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
