<br />
<br />
<br />


<div class="col-md-7 col-md-offset-4 col-centered move">
  <form [formGroup]="bookingForm" class="form-horizontal" novalidate>

    <legend class="col-md-7 col-md-offset-4 col-centered move">Booking Form</legend>

    <div class="form-group">
      <div class="col-md-8">
        <label>First name</label>
        <input formControlName="firstName" [class.is-invalid]="bookingForm.get('firstName').invalid && bookingForm.get('firstName').touched"
               name="firstName" type="text" placeholder="First Name" class="form-control">
        <!--<small [class.d-none]="bookingForm.get('firstName').valid ||
       bookingForm.get('firstName').untouched" class="text-danger">First name is required</small>-->
        <div *ngIf="bookingForm.get('firstName').invalid && bookingForm.get('firstName').touched">
          <small *ngIf="bookingForm.get('firstName').errors?.required" class="text-danger">First name is required</small>
          <small *ngIf="bookingForm.get('firstName').errors?.minLength" class="text-danger">First name must be at least 3 characters</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <label>Last name</label>
        <input formControlName="lastName" id="lname" name="lastName" type="text" placeholder="Last Name" class="form-control">
        <div *ngIf="bookingForm.get('lastName').invalid && bookingForm.get('lastName').touched">
          <small *ngIf="bookingForm.get('lastName').errors?.required" class="text-danger">Last name is required</small>
          <small *ngIf="bookingForm.get('lastName').errors?.minLength" class="text-danger">Last name must be at least 3 characters</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8">
        <label>Email</label>
        <input formControlName="email" id="email" name="email" type="text" placeholder="Email Address" class="form-control">
        <div *ngIf="bookingForm.get('email').invalid && bookingForm.get('email').touched">
          <small *ngIf="bookingForm.get('email').errors?.required" class="text-danger">Email is required</small>
          <small *ngIf="bookingForm.get('email').errors?.pattern" class="text-danger">please enter a valid email</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8">
        <label>Phone</label>
        <input id="phone" name="phone" type="tel" formControlName="phone" pattern="^\d{10}$" placeholder="Phone" class="form-control">
        <div *ngIf="bookingForm.get('phone').errors && (bookingForm.get('phone').valid || bookingForm.get('phone').untouched)">
          <small class="text-danger" *ngIf="bookingForm.get('phone').errors?.required">
            Phone number is required
          </small>
          <small class="text-danger" *ngIf="bookingForm.get('phone').errors?.pattern">
            Phone number must be 10 digits
          </small>
        </div>
      </div>
    </div>

   <!-- <div class="form-group">
      <select class="custom-select" (blur)="validateRoomType(roomTypes.value)" (change)="validateRoomType(roomTypes.value)" #roomtype="ngModel"
              [class.is-invalid]="roomTypeHasError && roomtype.touched" name="roomtype"
              [(ngModel)]="bookingForm.get('roomtypes')">
        <option value="default">Please Choose your suite</option>
        <option *ngFor="let roomtype of roomtypes">{{ roomTypes }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!roomTypeHasError || roomTypes.untouched">Please choose a your room</small>
    </div> -->

    <div class="form-group">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary btn-lg">Book Now</button>
      </div>
    </div>
  </form>
</div>
